<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Demo04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  		<!-- servlet的名称，这个名称可以自己取，保证唯一就行 -->
  		<servlet-name>InitServlet</servlet-name>
  		
  		<!-- 这个servlet的路径 -->
  		<servlet-class>com.yc.demo.servlet.InitServlet</servlet-class>
  		
  		<!-- 配置初始化参数 -->
  		<init-param>
  			<param-name>uploadPath</param-name>
  			<param-value>../files</param-value>
  		</init-param>
  		
  		<!-- 启动加载 -->
  		<load-on-startup>1</load-on-startup>
  </servlet>
</web-app>